<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/styles.css"/>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://onex.am/css/iziToast.min.css">
        <script src="https://onex.am/js/iziToast.js"></script>
        <link rel="stylesheet" href="https://onex.am/css/iziToast.min.css">
        <link rel="icon" href="http://sunchild.fpwc.org/wp-content/uploads/2016/11/cropped-slo-32x32.png" sizes="32x32" />
        <link rel="icon" href="http://sunchild.fpwc.org/wp-content/uploads/2016/11/cropped-slo-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="http://sunchild.fpwc.org/wp-content/uploads/2016/11/cropped-slo-180x180.png" />
        <meta name="msapplication-TileImage" content="http://sunchild.fpwc.org/wp-content/uploads/2016/11/cropped-slo-270x270.png" />

        <title>SIEFF |
            {{title}}</title>
    </head>