<div class="footer text-center grey darken-4">
    <img src="http://sunchild.fpwc.org/wp-content/uploads/2020/01/Logo-SIEFF-White.png"/>
    <h2 class="hind-text ">PARTNERS</h2>
    <div class="festivals">
        {{#each partner}}
            <a href="//{{link}}" target="_blank" rel="noopener noreferrer">
                <img src="//localhost:3000/uploads/{{img}}" alt="{{name}}"></a>
        {{/each}}
    </div>
    <p class="copyright">
        <p class="copyright">
            <small class="hind-text">© 2021 SIEF: Sunchild International Environmental Festival</small>
        </p>
    </p>
</div>