<div class="bg-wrapper bg-festival">
    <div class="container-fluid">
        <div class="container container--content">
            <div class="row"></div>
        </div>
    </div>
</div>
<div class="footer text-center">
    <h2 class="hind-text ">PARTNERS</h2>
    <div class="festivals">
        {{#each partner}}
            <a href="//{{link}}" target="_blank" rel="noopener noreferrer">
                <img src="//localhost:3000/uploads/{{img}}" alt="{{name}}"></a>
        {{/each}}
    </div>
    {{#if subscribed}}
<h1>ok</h1>
{{/if}}
    <p class="copyright">
        <p class="copyright">
            <small class="hind-text">© 2021 SIEF: Sunchild International Environmental Festival</small>
        </p>
    </p>
</div>