<div class="container-fluid bg-pale">
    <div class="container--content">
        <h3 class="text-center">SunChild 10th International Environmental Festival</h3>
        <p>The SunChild 10th IEF will take place from 14th to 18th of November 2021,
            screening around 30 environmental films from different countries. In response to
            the global pandemic CoVID-19, the SunChild IEF organizing team decided to go
            online. In this online platform all the chosen films will be available during
            the festival days. Each film will be available on the online platform of the
            festival for 24 hours on one of the festival days Faced with the climate and
            biodiversity emergencies, The United Nations General Assembly declared 2021 –
            2030 to be the UN Decade on Ecosystem Restoration - a catalyst for
            transformative change that brings together all environmental activities for our
            common good. A global call to action will draw together political support,
            scientific research and financial support to massively scale up restoration from
            successful pilot initiatives to areas of millions of hectares. As such for the
            10th anniversary, the festival theme will be ecosystem restoration to shed light
            on some of the amazing work being done on the field, to raise further awareness
            on the topic, as well as bring ambition to the next generation to take part in
            restoring their lands.
        </p>
        <h3 >There has never been a more urgent need to restore damaged ecosystems than now.</h3>
        <p>SunChild 10th International Environmental Festival has 4 nominations
            <ul>
                <li>• International Wildlife Conservation Film Competition</li>
                <li>
                    • International Environmental Film Competition
                </li>
                <li>
                    • International Educational Film Competition
                </li>
                <li>
                    • International Wildfire Prevention Film Competition</li>
            </ul>
        </p>
        <h3 >Awards</h3>
        <p>The awards of the SunChild 10th International Environmental Festival are
            created by the students of the Mkhitar Sebastatsi Educational Complex within the
            sculpture workshops.
        </p>
        <h3 class="text-center">About SunChild IEF</h3>
        <p>On a planet that faces complex issues that threaten to tear us apart, we hope
            to provide a platform to find common group and the connection that is necessary
            to sustain life․ We strive to provide a platform for people to come together,
            learn and create solutions. The Festival screens wildlife and environmental
            films from all over the world and hosts workshops, exhibitions and media
            campaigns designed to foster a culture of environmental stewardship. During the
            15 years of the festival’s existence, more than 700 films from 150 countries
            around the world have been screened. The SunChild International Environmental
            Festival is the first and only of its kind in the South Caucasus region. The
            Festival takes place in autumn, but it also hosts screenings and workshops year
            round throughout Armenia for youth. This provides a space for youth to
            understand and engage environmental issues in order to find local solutions.
            SunChild International Environmental Festival has been organized since 2007 by
            the Foundation for the Preservation of Wildlife and Cultural Assets (FPWC).
        </p>
        <h3 class="text-center">
            <a href="http://festival.fpwc.org" target="_blank">Go to the previous editions
                of the SunChild International Environmental Festival.</a>
        </h3>
        <h3 class="text-center">THE TEAM</h3>
        <h5>Ruben Khachatryan - Founder of SunChild IEF</h5>
        <p>
            “From day-to-day humanity immerses itself in an environmental crisis which was a
            result of its inconsistent actions throughout the decades. We take our planet
            and our future to destruction with our own hands, deepening the disaster that
            will eventually destroy us. Unless we stop for a moment and say to ourselves:
            that’s enough. The time has come to create a new future. Having all this in
            mind, the idea to establish the SunChild International Environmental Festival
            came in Y2005, which would result in a revolutionary change of thinking and
            attitude towards nature among the young generation. Out future has to be green!
            By infusing the idea of merging art and nature to the young generation, we have
            already given the public a few generations who truly love the planet and support
            the nature they are surrounded by. I believe, that the SunChild International
            Environmental Festival will have a long run and will result in a wishful change
            we all need! Only with a decent environmental education and awareness we make
            our conservational work successful.”
        </p>
        <h5>Sona Kalantaryan - Director of the SunChild IEF</h5>
        <p>
            “Our planet is on the brink of a severe environmental crisis. To confront the
            challenges, the planet and our communities face we need to increase the active
            participation and partnership with young people. Youth voice will result in a
            tremendous impact on changes towards environmental issues, thus we choose youth
            as our main target for the SunChild IEFF to increase awareness on wildlife
            conservation and environmental issues. Only with educated and competent young
            generation the future of our environment can be in good hands.
        </p>
        <p>
            This year together with the USDA Forest Service we will highlight the issue of
            growing wildfires around the world, and discuss the prevention methods. During
            the Festival screening days several amazing films about wildfires will be
            screened, and throughout the year many awareness raising activities, discussions
            and capacity building actions will be organized.”</p>
        <ul>
            <li>
                <h5>Lilit Khachaturyan – PR and Communications officer</h5>
            </li>
            <li>
                <h5>Ani Khachatryan – Designer and Illustrator</h5>
            </li>
            <li>
                <h5>Arthur Mailyan – Web Developer</h5>
            </li>
            <li>
                <h5>Mariam Taschyan – Press Officer</h5>
            </li>
        </ul>

    </div>
</div>
{{> partners}}
{{> subscribe}}