<div class="container">
    <h3>{{title}}</h3>
    <div class="row">
        <form
            class="col s12"
            action="/admin/addfilm?_csrf={{tkn}}"
            method="POST"
            enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input type="hidden" name="id" value="{{id}}">
                        <input
                            placeholder="Type Film Name"
                            name="title"
                            id="film_name"
                            type="text"
                            class="validate">
                            <label for="first_name">Film Name</label>
                        </div>

                        <div class="input-field col s6">
                            <select id="category" name="category" class="validate">
                                <option value="" disabled="disabled" selected="selected">Choose your option</option>
                                <option value="Wildlife Conservation Films">Wildlife Conservation Films</option>
                                <option value="Environmental Films">Environmental Films</option>
                                <option value="Youth and Children Films">Youth and Children Films</option>
                                <option value="Wildfire Prevention Films">Wildfire Prevention Films</option>
                                <option value="Non-Competition Films">Non-Competition Films</option>
                                <option value="Events">Events</option>
                                <option value="Journalistic Competition">Journalistic Competition</option>
                            </select>
                            <label>Select Category</label>
                        </div>

                        <div class="input-field col s6">
                            <input
                                placeholder="Type Film Duration in minutes"
                                id="duration"
                                name="duration"
                                type="number"
                                class="validate">
                                <label for="duration">Film Duration (in minutes)</label>
                            </div>
                            <div class="input-field col s6">
                                <input
                                    placeholder="Screening Date"
                                    id="screening_date"
                                    name="date"
                                    type="text"
                                    class="datepicker">
                                    <label for="film_category">Screening Date</label>
                                </div>
                                <div class="input-field col s6">
                                    <input
                                        placeholder="Screening Time"
                                        id="screeningTime"
                                        name="screeningTime"
                                        type="text"
                                        class="timepicker"
                                        step="1">
                                        <label for="film_category">Screening Time</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input
                                            placeholder="Director"
                                            id="director"
                                            name="director"
                                            type="text"
                                            class="validate">
                                            <label for="director">Director</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input
                                                placeholder="Producer"
                                                id="producer"
                                                name="producer"
                                                type="text"
                                                class="validate">
                                                <label for="director">Producer</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input
                                                    placeholder="Editor"
                                                    id="editor"
                                                    name="editor"
                                                    type="text"
                                                    class="validate">
                                                    <label for="director">Editor</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input
                                                        placeholder="Executive Producer"
                                                        id="exProducer"
                                                        name="exProducer"
                                                        type="text"
                                                        class="validate">
                                                        <label for="director">Executive Producer</label>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <input placeholder="Cast" id="cast" name="cast" type="text" class="validate">
                                                            <label for="director">Cast</label>
                                                        </div>
                                                        <div class="input-field col s6">
                                                            <input
                                                                placeholder="Film ID (ex: 403770068)"
                                                                id="fLink"
                                                                name="fLink"
                                                                type="text"
                                                                class="validate">
                                                                <label for="director">Film ID (ex: 403770068)</label>
                                                            </div>
                                                            <div class="switch">
                                                            <label>
                                                                Off
                                                                <input id="plPlug" type="checkbox" name="show" value="hide">
                                                                    <span class="lever"></span>
                                                                    On
                                                                </label>
                                                            </div>

                                                            <div class="file-field input-field col s6">
                                                                <div class="btn">
                                                                    <span>IMG</span>
                                                                    <input type="file" name="img"></div>
                                                                    <div class="file-path-wrapper">
                                                                        <input class="file-path validate" type="text"></div>
                                                                    </div>

                                                                    <div class="input-field col s6">
                                                                        <input placeholder="Country" id="country" name="country" type="text" class="validate">
                                                                            <label for="country">Country</label>
                                                                        </div>
                                                                        <div class="input-field col s6">
                                                                            <textarea id="description" name="description" class="materialize-textarea"></textarea>
                                                                            <label for="description">Description</label>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn waves-effect waves-light">Add Film
                                                                    </button>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                                <script type="text/javascript">
                                                    document.addEventListener('DOMContentLoaded', function () {
                                                        const options = {
                                                            format: 'mmm dd'
                                                        }
                                                        const elems = document.querySelectorAll('.datepicker');
                                                        const instances = M
                                                            .Datepicker
                                                            .init(elems, options);

                                                    });
                                                    document.addEventListener('DOMContentLoaded', function () {
                                                        const options = {
                                                            twelveHour: false
                                                        }
                                                        const elems = document.querySelectorAll('.timepicker');
                                                        const instances = M
                                                            .Timepicker
                                                            .init(elems, options);
                                                    });
                                                    document.addEventListener('DOMContentLoaded', function () {
                                                        const elems = document.querySelectorAll('select');
                                                        const instances = M
                                                            .FormSelect
                                                            .init(elems);
                                                    });
                                                    let btnn = document.querySelector('#plPlug')
                                                    btnn.addEventListener('change', () => {
                                                        if (btnn.value === "show") {
                                                            btnn.value = "hide"
                                                        } else if (btnn.value === "hide") {
                                                            btnn.value = "show"
                                                        }
                                                        console.log(btnn.value)

                                                    })
                                                </script>