{{#if film.length}}

    <div class="container-fluid bg-pale">
        {{> filter}}
        <div class="container--content">

            {{> cards}}
        </div>

    </div>
{{else}}

    <div class="container--content">

        <h2>No Film Found!</h2>

    </div>

{{/if}}

        {{> partners}}
        {{> subscribe}}
<style type="text/css">
    .Film {
        min-height: 250px;
        position: relative;
        margin-bottom: 20px;
        background: #fff;
        display: flex;
    }
</style>