<div class="container-fluid bg-pale">
    <div class="container--content">
        <h3 class="ScheduleTime">
            {{#if (localeIs "en")}}
            <span class="may">November</span>
            {{/if}}
            {{#if (localeIs "hy")}}
            <span class="may">Նոյեմբեր</span>
            {{/if}}
        </h3>
        <div class="scheduleNav">
            {{#each date}}
                <a id="date" class="btn-schedule" href="?date={{date}}">{{date}}</a>
            {{/each}}
        </div>
        <br/>

        {{#if film.length}}
            <div class="container--content">

                {{> cards}}
            </div>
        {{else}}
            <h2>No Film Found!</h2>
        {{/if}}
    </div>
</div>
{{> partners}}
{{> subscribe}}
<script type="text/javascript">
    let sBtn = document.querySelectorAll('.btn-schedule');
    for (let i = 0; i < sBtn.length; i++) {
        let dates = sBtn[i].innerHTML
        let arr = dates.match(/\S+/g,)
        sBtn[i].innerHTML = arr[1];
    }

    for (let i = 0; i < sBtn.length; i++) {
        let date = sBtn[i].getAttribute('href')
        let sUrl = window
            .location
            .search
            .replace(/%20/g, ' ')
        if (date == sUrl) {
            sBtn[i]
                .classList
                .add('active')
        }
    }
</script>